::selection{
  color: black;
  background-color: #6100FF;
}
.feature-icon i{
    font-size: 300%;
}

.footer-social-links i{
    font-size: 200%;
}

.body a{
    text-decoration: none !important;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal > div {
    width: 60%;
    position: relative;
    margin: 0% auto;
    padding: 15px 20px;
    background: #fff;
  }
  .fechar {
    position: absolute;
    width: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
  }

#botao{
    background-color:#5DC3D0;
}
#botao:hover{
    background-color:#393939;
}
html {
    scroll-behavior: smooth;
}

.but-new {
    text-decoration:none;
  color:#fff;
  font-family:Arial;
  font-size:18px;
  padding:10px 30px;
  background-image:linear-gradient(120deg,#3a61fe, #d43afe);
  border-radius:100px;
  animation:gradient 10s linear infinite;
  position:relative;
}

.but-new::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:inherit;
    border-radius:inherit;
    z-index:-1;
    top:15px;
    left:0;
    filter:blur(30px);
    opacity:0.9;
  }
  
  @keyframes gradient{
    from{
      filter:hue-rotate(0deg);
    }
    
    to{
      filter:hue-rotate(360deg);
    }
  }

  .owl-carousel .owl-stage-outer{
      overflow: visible !important;
      z-index: 0 !important;
  }

@media only screen and (max-width: 768px){
    /*mobile*/
    .but{
       width:100% !important; 
    }
    #resultado{
        margin-left:0 !important;
    }
    .project-2{
        font-size: 80% !important;
    }
    .project-2 h3{
        font-size: 100% !important;
    }
    #canvas12{
        display: none;
    }
    .but_more{
        border-radius: 50px !important;
    }
    .disable-mobile{
        display: none;
    }
}
@media only screen and (min-width: 768px){
    /*desktop*/
    .but{
       width:25% !important; 
    }
}

.but_more{
    border-radius: 10px !important;
    text-decoration: none !important;

}


.name_but{
    text-decoration: none !important;
}
.name_img{
    max-height: 200px;
}

/* animated stroke title */


.title_animated {
    width: 300px;
    height: 80px;
    position: relative;
    border-left: 1px solid transparent;
    margin-bottom: 10px;
    transition: .5s;
}

.svgclass{
    position: absolute;
    top: 0; left: 0;
    stroke: white;
    fill: white;
    stroke-width: 1;
    stroke-dasharray: 250;
    stroke-dashoffset: -250;
    transition: stroke-dashoffset .9s ease-out, fill 1s; 
}
.title_animated:hover svg {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset .6s ease-out, fill .6s; 
    fill: transparent;
}
/*matrix effect*/
canvas {
    position: absolute;


}
#canvas2 {
  filter: blur(1px);
}

#canvas12 {
    position: absolute;
    opacity: 1;
    width: 100%;
}

#owl-demo .item{
    background: #3fbf79;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
  .customNavigation{
    text-align: center;
  }

  .customNavigation a{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
   
  #owl-demo .owl-item div{
    padding:5px;
  }
  #owl-demo .owl-item img{
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  

  .loader{
    text-align: -webkit-center;
  }
  
.pulse{
    stroke-dasharray:1840;
    stroke-dashoffset:3680;
    animation:dash 2s ease-out infinite;
    stroke:url(#strokeGradient);
  }
  
  @keyframes dash{
    to{
      stroke-dashoffset:0;
    }
  }
  
  .loader span{
    color:#eee;
    display:block;
    text-align:center;
    font-size:125%;
    margin-top:15px;
    animation:blink 900ms linear infinite alternate;
  }
  
  @keyframes blink{
    from{
      opacity:0;
    }
    
    to{
      opacity:1;
    }
  }

  
.changing-text{
    text-transform: uppercase;
    color: #fff;
    font-family:verdana;
    font-size: 40px;
}

.texts-container{
    display: inline-block;
    height: 40px;
    overflow: hidden;
    color: #ff7a00;
}

.texts-container span{
    display: block;
    animation: moveUp 8s infinite;
}

@keyframes moveUp{
    0%{
        transform: translateY(0);
    }

    25%{
        transform: translateY(-26%);
    }

    50%{
        transform: translateY(-51%);
    }

    75%{
        transform: translateY(-76%);
    }

    100%{
        transform: translateY(0);
    }
}


#h1-clara{
    font-family:arial;
    text-transform:uppercase;
    font-size:300%;
    position:relative;
    color:transparent;
  }
  
  #h1-clara::before, h1::after{
    content: attr(data-text);
    position:absolute;
    left:0;
    transition: transform 0.3s;
    transition-delay: 0.25s;
    color:#fff;
  }
  
  #h1-clara::before{
   
    clip-path:polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }
  
  #h1-clara::after{
   
    clip-path:polygon(0 49.6%, 100% 49.6%, 100% 100%, 0 100%);
  }
  
  #h1-clara:hover::before{
    transform:translateX(-10%);
  }
  
  #h1-clara:hover::after{
    transform:translateX(10%);
  }
  
  #h1-clara .line{
    width:0;
    height:3px;
    background-color:#ff7a00;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:1;
    transition: width 0.2s ease-in;
  }
  
  #h1-clara:hover .line{
    width:100%;
  }

  .text-typewriter{
    color:#fff;
    text-transform:capitalize;
    font-family:monospace;
    font-size:20px;
    white-space:nowrap;
    overflow:hidden;
    max-width:0;
    animation: typing 3s steps(23) infinite;
  }
  
  .text-typewriter-container::after{
    content:" |";
    animation:blink 1s step-end infinite;
    background-color:transparent;
  }
  
  .text-typewriter-container{
    display:flex;
    align-items:center;
  }
  
  @keyframes typing{
    to{
      max-width:23ch;
    }
  }
  
  @keyframes blink{
    25%{
      opacity:0
    }
    
    50%,75%,100%{
      opacity:1;
    }
  }

  
.foto-social{
    width:80px;
    height:80px;
    position:relative;
  }
  
  .foto-social img{
    max-width:100%;
  }
  
  .foto-social::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    outline:3px dashed #ff7a00;
    outline-offset:3px;
    border-radius:50%;
    animation: spin 6s linear infinite;
  }
  
  @keyframes spin{
    to{
      transform:rotate(360deg);
    }
  }

  
.broken {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 130%;
    text-transform: uppercase;
    color: transparent;
    margin: 0;
    cursor: pointer;
    position: relative;
  }
  
  .broken::before,
  .broken::after {
    top: 0;
    left: 0;
    content: attr(data-text);
    color: white;
    position: absolute;
    transition: transform 0.3s;
  }
  
  .broken::before {
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
  
  .broken::after {
    clip-path: polygon(100% 0, 100% 100%, 0 99%);
  }
  
  .broken:hover::before {
    transform: translate(-5px) rotate(-3deg);
  }
  
  .broken:hover::after {
    transform: translate(5px) rotate(3deg);
  }
  
  
.content{
    width:200px;
    height:300px;
    position:relative;
    transform-style:preserve-3d;
    cursor:pointer;
    transition:transform 1500ms ease-in;
  }
  
  .front,
  .back{
    position:absolute;
    width:100%;
    overflow: hidden;
    height:100%;
    transform-style:preserve-3d;
    backface-visibility:hidden;
  }
  
  .front img{
    width:100%;
    height:100%;
    object-fit:cover;
  }
  
  .front::before{
    position:absolute;
    content:"";
    --offset:10px;
    top:var(--offset);
    left:var(--offset);
   bottom:var(--offset);
    right:var(--offset);
    border:4px solid #fff;
    transform:translateZ(80px);
  }
  
  .back{
    transform:rotateY(180deg);
    background-color:#eee;
    border-radius: 20px;
  }
  
  .back-content{
    color:#131313;
    font-family:helvetica;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transform:translateZ(80px);
  }
  
  .back-content p{
    margin-top:10px;
    font-size:18px;
  }
  
  .container-social:hover .content{
    transform:rotateY(180deg);
  }

  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 3px solid;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
  }
  
  .social-media span {
    position: absolute;
  }
  
  .social-media:first-child {
    background-color: #4267b2;
    border-color: #4267b2;
  }
  
  .social-media:nth-child(2) {
    background-color: #0088cc;
    border-color: #0088cc;
  }
  
  .social-media:last-child {
    background-color: #25D366;
    border-color: #25D366;
  }
  
  .social-media:not(:last-child) {
    margin-right: 25px;
  }
  
  .social-media i {
    color: #fff;
    font-size: 25px;
    transition: transform 0.3s;
  }
  
  .social-media span {
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-weight: bolder;
    transform: translateY(-100px);
    transition: transform 0.3s;
  }
  
  .social-media:hover i {
    transform: translateY(100px);
  }
  
  .social-media:hover span {
    transform: translateY(0);
  }
  
  .social-media:hover {
    width: 180px;
    border-radius: 5px;
    background-color: transparent;
  }
  
  .social-media:first-child span {
    color: #4267b2;
  }
  
  .social-media:nth-child(2) {
    color: #0088cc;
  }
  
  .social-media:last-child {
    color: #25D366;
  }
  .heart{
    width:140px;
    height:110px;
    position:relative;
    display: -webkit-inline-box;
    filter:drop-shadow(0 10px 20px rgba(255,0,0,0.5));
    animation:pump 1s ease-in infinite alternate;
  }
  
  .heart::before,
  .heart::after{
    position:absolute;
    width:70px;
    height:110px;
    content:"";
    background-color:red;
    border-radius:50px 50px 0 0;
  }
  
  .heart::before{
    left:70px;
    transform:rotate(-45deg);
    transform-origin:0 100%;
  }
  
  .heart::after{
    transform:rotate(45deg);
    transform-origin:100% 100%;
  }
  
  @keyframes pump{
    0%{
      transform:scale(1.08);
    }
    
    85%{
      transform:scale(1);
    }
    
    100%{
      transform:scale(0.8);
    }
  }

  
.grad-title {
  background-image:linear-gradient(120deg,#ff7a00,#FFC900,#F9D371,#EA5C2B,#F14A16,#ff7a00);
  -webkit-background-clip:text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
  background-size:500%;
  animation:gradient 9s linear infinite;
  font-family: 'Poppins', sans-serif;
}

@keyframes grad_title{
  from{
    background-position:0;
  }
  to{
    background-position:500%;
  }
}

.inner-about{
  padding: 0px 10% 0px 10%;
}

.social1{
  color: #fff;
  font-size: 50px !important;
  border-radius: 29px;
  padding: 11px 19px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
    animation-delay: 0.3s;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.tv {
  height: 50vh;
  width: 100%;
  background-color: black;
  border-radius: 2vh;
  position: relative;
  box-shadow: 0 0 0 2vh;
}
.tv::after {
  position: absolute;
  z-index: 1;
  content: "";
  inset: 0;
  
  background-repeat: repeat-y;
  background-size: 100% 0.5vh;
}

.image123 {
  filter: Invert();
  max-width: 20vh;
  z-index: -1;
}
.w3-sidebar {
  width: 15%;
  text-align: center;
  position: fixed !important;
  z-index: 10;
  background-color: #1313138c;
  height: 100%;
  padding-top: 10%;
  left: 85%;
}
.w3-sidebar a{
  text-decoration: none !important;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

