.feature-icon i{
    font-size: 300%;
}

.footer-social-links i{
    font-size: 200%;
}

.body a{
    text-decoration: none !important;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal > div {
    width: 60%;
    position: relative;
    margin: 0% auto;
    padding: 15px 20px;
    background: #fff;
  }
  .fechar {
    position: absolute;
    width: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
  }
  
#botao{
    background-color:#5DC3D0;
}
#botao:hover{
    background-color:#393939;
}
html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 768px){
    /*mobile*/
    .but{
       width:100% !important; 
    }
    #resultado{
        margin-left:0 !important;
    }
    .project-2{
        font-size: 80% !important;
    }
    .project-2 h3{
        font-size: 100% !important;
    }
}
@media only screen and (min-width: 768px){
    /*desktop*/
    .but{
       width:25% !important; 
    }
}

.but_more{
    background-color:#5DC3D0;
    color:black;
    padding: 5%;
    border-radius: 10px;
    text-decoration: none !important;

}

.but_more:hover{
    background-color:#393939;
    color: white;
}

.name_but{
    text-decoration: none !important;
}
.name_img{
    max-height: 200px;
}

/* animated stroke title */


.title_animated {
    width: 300px;
    height: 80px;
    position: relative;
    border-left: 1px solid transparent;
    margin-bottom: 10px;
    transition: .5s;
}

.svgclass{
    position: absolute;
    top: 0; left: 0;
    stroke: white;
    fill: white;
    stroke-width: 1;
    stroke-dasharray: 250;
    stroke-dashoffset: -250;
    transition: stroke-dashoffset .9s ease-out, fill 1s; 
}
.title_animated:hover svg {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset .6s ease-out, fill .6s; 
    fill: transparent;
}
/*matrix effect*/
canvas {
    position: absolute;


}
#canvas2 {
  filter: blur(1px);
}